<div class="ng2-file-input">
    <div class="ng2-file-input-invalid text-danger" [hidden]="!invalidFile" [innerHTML]="invalidFileText"></div>
    <div fileDrop class="ng2-file-input-drop-container" [ngClass]="{'file-is-over': fileIsOver}" (fileOver)="fileOver($event)"
        (onFileDrop)="onFileDrop($event)">
        <span [innerHTML]="dropText"></span>
        <button type="button" (click)="ng2FileInputSelect.click()" class="btn btn-primary" [innerHTML]="browseText"></button>
    </div>
    <div class="ng2-file-input-files" *ngIf="showPreviews">
        <div *ngFor="let file of currentFiles" class="ng2-file-input-file" [ngClass]="{'image':file.type.indexOf('image')!==-1}">
            <span [innerHTML]="file.name" class="ng2-file-input-file-text"></span>
            <img [src]="getObjectUrl(file)" *ngIf="file.type.indexOf('image')!==-1">
            <span class="ng2-file-input-file-text remove" (click)="removeFile(file)" *ngIf="removable">
                <p [innerHTML]="removeText"></p>
            </span> 
        </div>
    </div>
    <input type="file" #ng2FileInputSelect (change)="fileSelected($event)" [attr.multiple]="multiple ? true : null">
</div>